.categories {
  margin: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 80vh;

  .category {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

    cursor: pointer;

    &:hover {
      img {
        opacity: 100%;
      }
    }

    img {
      width: fit-content;
      object-fit: cover;
      opacity: 80%;
    }
    p {
      position: absolute;
      background-color: white;
      width: 100px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.2s;
    }
    p:hover {
      background-color: rgb(3, 121, 199);
      color: white;
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    img {
      height: 370px;
    }
  }
  .center {
    width: fit-content;
    height: 100%;
    .category {
      height: 100%;

      img {
        height: 100%;
        width: 300px;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    .top {
      display: flex;
      gap: 20px;
      .category {
        width: fit-content;
        img {
          height: 300px;
        }
      }
    }
    .bottom {
      width: 100%;
      .category {
        width: 100%;

        img {
          width: 100%;
          height: 440px;
        }
      }
    }
  }
}
